body { 
	font-family: 'Josefin Sans', sans-serif;
	background-color: #F5F4F1;
	position: relative;
}
/*Navbar*/
.navbar {
	background-color: rgba(0, 0, 0, 0.5);
	margin-left: 15px;
	margin-right: 15px;
	padding: 5px;
}
.navbar a {
	color: white;
}
.navbar-brand {
	padding-left: 150px;
}
.navbar-nav {
	padding-right: 150px;
}
.dropdown-menu a {
	color: black;
}
.nav-item:hover {
	background-color: black;
	border-radius: 10px;
	transition: 0.8s;
}

/*Hero*/
.hero img {
	margin-top: -5%;
	width: 100%;
	height: 700px;
}
.logo img {
	position: relative;
	margin-top: -45%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 27.5%;
	padding-bottom: 2%;
	animation-name: logo;
	animation-duration: 2s;
}
@keyframes logo {
	from {margin-top: -100%;}
	to {margin-top: -45%;}
}
.logo h3 {
	color: white;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
	font-size: 2.5vw;
	padding-bottom: 2%;
}
.logo button {
	position: relative;
	display: block;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	font-size: 15px;
}
.logo a {
	text-decoration: none;
}

/*Best*/
.logo {
	padding-top: 0.1%;
}
.best {
	padding-top: 0.5px;
}
.judul {
	display: block;
	margin: 5%;
	width: 15%;
	margin-left: auto;
	margin-right: auto;
	border: 1.5px solid black;
	border-radius: 5px;
	padding: 0.5%;
	text-align: center;
	font-size: 25px;

}
.row {
	text-align: center;
	margin-top: 0px;
}
.card {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.card-body p {
	position: absolute;
	margin-top: -87%;
	display: block;
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 87%;
	height: 78%;
	padding: 15px;
	font-size: 15px;
}
.best h3 {
	font-size: 25px;
	border: solid 1px black;
	border-radius: 10px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}
.best h5 {
	font-size: 15px;
	border: solid 1px black;
	border-radius: 5px;
	width: 30%;
	margin-left: 60%;
	margin-right: auto;
	margin-top: 40px;
	padding: 5px;
	margin-bottom: 20px;
}

/*Brewer*/
.hero2 img {
	width: 100%;
	height: 650px;
	padding-top: 0px;
}
.bg {
	position: relative;
	top: -110%;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	height: 450px;
	width: 80%;
	margin: 40px;
}
.bg img {
	margin-top: 20px;
	width: 150px;
}
.nm h3 {
	color: white;
	width: 100%;
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px 10px 0px 0px;
	font-size: 15px;
}
.sosmed img {
	width: 30px;
	display: block;
	margin-left: 25%;
	margin-left: 25%;
	padding-top: 0px;
}
.sosmed p {
	color: white;
	position: relative;
	top: -130px;
	left: 20px;
	padding: 5px;
}
.sosmed a {
	text-decoration: none;
}
.garis {
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 40px;
}
#map {
	width:484px;
	height:374px;
	background:yellow;
}
.contact {
	margin-top: -450px;
	margin-left: 30px;
	margin-right: 30px;
}
.btnSub {
	border-radius: 10px;
	width: 15%;
}
.card-footer {
	text-align: center;
	padding: 10px;
	font-size: 15px;
	margin-top: 50px;
}


@media only screen and (max-width: 1024px) {
	.navbar-brand {
		padding-left: 20px;
		font-size: 15px;

	}
	.logo button {
		font-size: 10px;
		margin-top: -10px;
		width: 25%;
	}
	.hero img {
		margin: 0;
		height: 550px;
	}
	.logo img {
		margin-top: -50%;
		width: 30%;
		animation-name: logo;
		animation-duration: 2s;
	}
	.best h3 {
		margin-top: 70px;
	}
	.best h5 {
		width: 50%;
		margin-left: 40%;
	}
	.row {
		margin-top: 40px;
	}
	.col-sm-4 {
		padding-top: 10px;
	}
	.card-body p {
		display: block;
		width: 81%;
		height: 60%;
		font-size: 10px;
		padding: 20px;
		overflow: hidden;
		margin-top: -80%;
	}
	.hero2 img {
		display: none;
	}

	.brew {
		padding-top: 70%;
		width: 97.5%;
	}
	.brew img {
		width: 90px;
		margin-top: 20px;
	}
	.nm h3 {
		font-size: 10px;
		width: 100%;
	}
	.sosmed img {
		width: 35px;
		display: block;
		padding-top: 10px;
		margin: 20px;
	}
	.sosmed p {
		position: relative;
		top: -185px;
		padding-bottom: 22px;
	}
	.contact {
		margin-top: -70%;
	}
	#map {
		width: 300px;
		height: 400px;
	}
	.garis {
		width: 100%;
	}
	.garis form {
		width: 100%;
	}
	.garis button {
		width: 40%;
	}
	@keyframes logo {
		from {margin-top: -150%;}
		to {margin-top: -50%;}
	}
}

@media only screen and (max-width: 400px) {
	.navbar-brand {
		padding-left: 20px;
		font-size: 15px;

	}
	.logo button {
		font-size: 10px;
		margin-top: -10px;
		width: 25%;
	}
	.hero img {
		margin: 0;
		height: 300px;
	}
	.logo img {
		margin-top: -70%;
		width: 50%;
		animation-name: logo;
		animation-duration: 2s;
		margin-bottom: -20px;
	}
	@keyframes logo {
		from {margin-top: -150%;}
		to {margin-top: -70%;}
	}
	.best h3 {
		font-size: 20px;
		width: 35%;
		margin-bottom: 50px;
		margin-top: 60px;
	}
	.best h5 {
		font-size: 15px;
		width: 40%;
		margin-left: 50%;
		margin-right: auto;
		margin-top: 40px;
		padding: 5px;
	}
	.row {
		margin-top: -20px;
	}
	.col-sm-4 {
		padding-top: 10px;
	}
	.card-body p {
		display: block;
		width: 77.5%;
		left: 11%;
		height: 60%;
		font-size: 12px;
		padding: 20px;
		overflow: hidden;
	}
	.hero2 img {
		display: none;
	}

	.brew {
		padding-top: 175%;
		width: 100%;
	}
	.bg {
		width: 76.5%;
	}
	.brew img {
		width: 150px;
		margin-top: -30px;
	}
	.nm h3 {
		font-size: 15px;
		width: 100%;
	}
	.sosmed img {
		width: 40px;
		display: block;
		padding: 0;
		margin: 20px;
		margin-left: 50px;
	}
	.sosmed p {
		position: relative;
		top: -175px;
		padding-bottom: 15px;
	}
	#map {
		margin-top: -300px;
		width: 100%;
		height: 400px;
		margin-bottom: 20px;
	}
	.garis {
		width: 100%;
	}
	.garis button {
		width: 50%;
	}
}
